/* ------------------------------------- */
/* @Import & Reset  ................... */
/* ------------------------------------- */
@import url(ionicons.min.css);
@import url(bootstrap.min.css);
@import url(animsition.min.css);
@import url(magnific-popup.css);
@import url(photoswipe.css);
@import url(default-skin/default-skin.css);
@import url("https://fonts.googleapis.com/css?family=Roboto:400,100,200,300,500,600,700,800");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, s, samp,
small, strike, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  line-height: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, main {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* ------------------------------------- */
/* Generic styles ...................... */
/* ------------------------------------- */
body {
  font-family: "Roboto", sans-serif;
  font-size: 17px;
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #007cc2;
}
h1, h2 {
  margin-bottom: 20px;
}
h3, h4, h5, h6 {
  font-weight: 400;
  margin-bottom: 10px;
  word-break: break-word;
}
h1 {
  font-size: 40px;
  font-weight: 300;
}
h2 {
  font-size: 30px;
  font-weight: 400;
}
h3 {
  font-size: 24px;
}
h4 {
  font-size: 20px;
}
h5 {
  font-size: 17px;
}
h6 {
  font-size: 13.5px;
}
#leftSide {
  display: table-cell;
  position: fixed;
  top: 0;
  left: 0;
  width: 50%;
  height: 100vh;
  padding: 20px 0;
  overflow: hidden;
}
#rightSide {
  position: relative;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
  overflow-x: hidden;
  background: #fff;
}
.gradient {
  -webkit-background: linear-gradient(rgba(245, 227, 44, 0.95), rgba(1, 111, 84, 0.95));
  -ms-background: linear-gradient(rgba(245, 227, 44, 0.95), rgba(1, 111, 84, 0.95));
  -moz-background: linear-gradient(rgba(245, 227, 44, 0.95), rgba(1, 111, 84, 0.95));
  -o-background: linear-gradient(rgba(245, 227, 44, 0.95), rgba(1, 111, 84, 0.95));
  background: linear-gradient(rgba(245, 227, 44, 0.95), rgba(1, 111, 84, 0.95));
}

/* ------------------------------------- */
/* Home ................... */
/* ------------------------------------- */
#home, #homeCenter {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.h-content {
  width: 100%;
  padding: 10px 10%;
  text-align: center;
  color: #fff;
}
.h-content-fullwidth {
  position: relative;
  z-index: 0;
  top: 36vh;
  width: 100%;
  padding: 10px 10%;
  color: #fff;
}
.main-logo {
  max-width: 150px;
}
.social_icons {
  width: 100%;
  text-align: center;
}
.social_icons li {
  display: inline;
}
.social_icons li i {
  font-size: 28px;
  transition: all .3s;
  display: inline-block;
  padding: 10px 25px;
  background-color: #fff;
  color: #007cc2;
  border-radius: 3px;
}
.social_icons li i:hover {
  color: #028d6e;
  transition: .1s;
}

/* ------------------------------------- */
/* Quote  ................... */
/* ------------------------------------- */
.quotes-stripe {
  width: 100%;
  padding: 10% 8%;
  background: #121619;
  color: #fff;
  display: table;
}
.quotes-stripe .quote-mark {
  position: absolute;
  z-index: 1;
  left: 20px;
  opacity: .05;
}
.quotes-stripe .quote-mark img {
  position: relative;
  top: -25px;
}
.quotes-stripe blockquote {
  position: relative;
  z-index: 1;
}
.quotes-stripe blockquote q {
  font-size: 1.5em;
  font-weight: 200 !important;
}
.quotes-stripe blockquote cite {
  color: gray;
  margin-top: 20px;
  margin-bottom: 0;
  display: block;
  font-size: 1em;
}
.quotes-stripe blockquote cite::before {
  content: "\2014 \0020";
}
.quotes-stripe h2 {
  position: relative;
  z-index: 1;
  font-weight: 200 !important;
}

/* ------------------------------------- */
/* Project ................... */
/* ------------------------------------- */
.project, .portfolio, .swipe_portfolio {
  position: relative;
  padding: 15px 7.5px;
}
.project {
  background: #f5f5f5;
}
.project .item {
  padding-left: 7.5px;
  padding-right: 7.5px;
  overflow: hidden;
  margin-bottom: 15px;
  cursor: pointer;
  height: auto;
}
.project .item .caption {
  position: absolute;
  width: calc(100% - 15px);
  color: #fff;
  overflow: hidden;
  -webkit-transition: 0.3s;
  -ms-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  background: #121619;
  bottom: -70px;
  height: 70px;
}
.project .item .caption .photo-details {
  position: absolute;
  padding: 0 15px;
  bottom: 10px;
  -webkit-transform: translateY(100%);
  -ms-transform: translateY(100%);
  -moz-transform: translateY(100%);
  -o-transform: translateY(100%);
  transform: translateY(100%);
  -webkit-transition: 0.3s;
  -ms-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.project .item .caption .photo-details h4 {
  padding: 0;
  margin: 0;
}
.project .item .caption .photo-details span {
  font-size: 12px;
  font-weight: 500;
  margin: 0;
  color: #007cc2;
}
.project .item .caption .view {
  margin: 20px 15px;
  text-align: center;
  height: 30px;
  width: 60px;
  line-height: 30px;
  background: #007cc2;
  color: #fff;
  font-size: 12px;
  float: right;
  font-weight: 600;
}
.project .item:hover .photo-details {
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  -moz-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
}
.project .item:hover .caption {
  -webkit-transform: translateY(-70px);
  -ms-transform: translateY(-70px);
  -moz-transform: translateY(-70px);
  -o-transform: translateY(-70px);
  transform: translateY(-70px);
}
.project .item img {
  width: 100%;
}
.project .project_info {
  position: fixed;
  z-index: 3;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
  background: #fff;
  overflow: auto;
  -webkit-transform: translateX(100%);
  -ms-transform: translateX(100%);
  -moz-transform: translateX(100%);
  -o-transform: translateX(100%);
  transform: translateX(100%);
  -webkit-transition: 0.3s;
  -ms-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.project .project_info li {
  display: none;
  height: 100%;
  width: 100%;
}
.project .project_info li.is-visible {
  display: block;
}
.project .project_info li.is-visible .close {
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  -moz-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
  opacity: 1;
}
.project .project_info li img {
  width: 100%;
}
.project .project_info li .project_content {
  padding: 10%;
}
.project.show {
  -webkit-transition: 0.3s;
  -ms-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.project.show .project_info {
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  -moz-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
}
.project .close {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 3;
  text-align: center;
  height: 50px;
  width: 50px;
  overflow: hidden;
  background: #007cc2;
  -webkit-transform: translateX(100px);
  -ms-transform: translateX(100px);
  -moz-transform: translateX(100px);
  -o-transform: translateX(100px);
  transform: translateX(100px);
  -webkit-transition: 0.3s;
  -ms-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  text-align: center;
  opacity: 0;
  transition-delay: .1s;
}
.project .close i {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 1.2em;
  text-align: center;
  color: #fff !important;
}

/* ------------------------------------- */
/* Swipe Portfolio ................... */
/* ------------------------------------- */
.swipe_portfolio .my-gallery figure {
  padding-left: 7.5px;
  padding-right: 7.5px;
  overflow: hidden;
  margin-bottom: 15px;
  cursor: pointer;
  height: auto;
}
.swipe_portfolio .my-gallery figure a {
  -webkit-transition: 0.3s;
  -ms-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  cursor: url("../img/icon-zoom.png"), pointer;
}
.swipe_portfolio .my-gallery figure img {
  margin: auto;
}
.swipe_portfolio .my-gallery figure figcaption {
  position: absolute;
  width: calc(100% - 15px);
  color: #fff;
  overflow: hidden;
  -webkit-transition: 0.3s;
  -ms-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  background: rgba(18, 22, 25, 0.7);
  top: 0;
  height: 100%;
  opacity: 0;
  cursor: url("../img/icon-zoom.png"), pointer !important;
}
.swipe_portfolio .my-gallery figure figcaption .photo-details {
  position: absolute;
  padding: 0 15px;
  bottom: 10px;
  -webkit-transform: translateY(100%);
  -ms-transform: translateY(100%);
  -moz-transform: translateY(100%);
  -o-transform: translateY(100%);
  transform: translateY(100%);
  -webkit-transition: 0.3s;
  -ms-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.swipe_portfolio .my-gallery figure figcaption .photo-details p {
  display: none !important;
}
.swipe_portfolio .my-gallery figure:hover .photo-details {
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  -moz-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
}
.swipe_portfolio .my-gallery figure:hover figcaption {
  opacity: 1;
}

/* ------------------------------------- */
/* Countdown ................... */
/* ------------------------------------- */
#countdown {
  width: 100%;
  padding: 10% 8%;
  background: #121619;
  color: #fff;
}
#countdown > div {
  padding: 0;
  height: 100%;
  display: table;
}
#countdown .title {
  display: table-cell;
  vertical-align: middle;
  padding: 0 15px;
}
#countdown address {
  margin-top: 0;
}
#countdown address span {
  padding: 0;
  color: #cccccc;
  font-weight: 500;
  display: block;
  font-size: 16px;
  margin-bottom: 10px;
}
#countdown address i {
  font-size: 1.5em;
  padding-right: 10px;
  color: #fff;
}
#countdown .launch-date {
  display: table-cell;
  vertical-align: middle;
  background: #1d2328;
  text-align: center;
  height: 160px;
  border-radius: 3px;
  -webkit-box-shadow: 0px 2px 33px -6px rgba(0, 0, 0, 0.75);
  -ms-box-shadow: 0px 2px 33px -6px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 2px 33px -6px rgba(0, 0, 0, 0.75);
  -o-box-shadow: 0px 2px 33px -6px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 2px 33px -6px rgba(0, 0, 0, 0.75);
}
#countdown .launch-date h2 {
  font-size: 60px;
  margin-bottom: -5px;
  margin-top: -20px;
}
#countdown .launch-date span {
  color: #fff;
}

/* ------------------------------------- */
/* About ................... */
/* ------------------------------------- */
.about {
  width: 100%;
  padding: 10% 8%;
}
.about p {
  color: #666666;
}
.about.dark {
  background: #f5f5f5;
  color: #000;
}
.about.dark ul {
  font-size: .85em;
  font-weight: 400;
  color: #666666;
}
.about.dark ul li {
  display: flex;
  align-items: center;
  padding: 2px 0;
}
.about.dark ul li p {
  margin: 0;
}
.about.dark ul li i {
  font-size: 50px;
  color: #0079ba;
  margin-right: 15px;
}
.service {
  text-align: center;
  margin-top: 50px !important;
}
.service .feature {
  display: inline-block;
  padding: 30px 0;
  background: #f5f5f5;
  -webkit-transition: 0.2s;
  -ms-transition: 0.2s;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}
.dark .service .feature:hover {
  transform: none;
  background: transparent;
}
.service .feature h6 {
  font-weight: 700;
  color: #333;
  margin: 0 0 5px 0;
}
.service .feature i {
  color: #0079ba;
  font-size: 2.2em;
}

/* ------------------------------------- */
/* Sections ................. */
/* ------------------------------------- */
.sections {
  width: 100%;
  padding: 10% 8%;
}
.sections .service .row {
  display: flex;
  flex-wrap: wrap;
}
.service .feature:hover {
  -webkit-transform: translateY(-10px);
  -ms-transform: translateY(-10px);
  -moz-transform: translateY(-10px);
  -o-transform: translateY(-10px);
  transform: translateY(-10px);
  background: #eaeaea;
}
.service .feature .view, .pricing .price .view {
  padding: 10px 5px;
  background: #007cc2;
  color: #fff;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 600;
  opacity: 0;
  -ms-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.pricing .price .view {
  background: #121619;
}
.service .feature:hover .view, .pricing .price:hover .view {
  opacity: 1;
}

/* ------------------------------------- */
/* Pricing ................... */
/* ------------------------------------- */
.pricing {
  width: 100%;
  padding: 10% 8%;
  background: #121619;
  color: #fff;
}
.pricing .row {
  display: flex;
  flex-wrap: wrap;
}
.offers ul {
  display: inline-block;
  padding: 20px 0;
}
.offers li {
  padding: 5px 0;
  font-size: .85em;
  font-weight: 600;
  color: rgba(255, 255, 255, 0.7);
}
.price {
  padding: 30px 15px;
  text-align: center;
  -webkit-transition: 0.2s;
  -ms-transition: 0.2s;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  border: 1px solid #121619;
  border-radius: 3px;
  background-color: #007cc2;
}
.price:hover {
  -webkit-transform: translateY(-10px);
  -ms-transform: translateY(-10px);
  -moz-transform: translateY(-10px);
  -o-transform: translateY(-10px);
  transform: translateY(-10px);
}
.price p {
  margin-bottom: 10px;
  font-size: 12px;
}

/* ------------------------------------- */
/* How To Get ................... */
/* ------------------------------------- */
.how-to-get {
  width: 100%;
  padding: 10% 8%;
  color: #000;
}
.how-to-get p, .how-to-get ul {
  color: #666666;
  margin-bottom: 10px;
  font-size: 18px;
}
.how-to-get ul {
  padding-left: 20px;
}
.how-to-get ul li:before {
  content: "\f375";
  font-family: "Ionicons";
  float: left;
  margin-left: -20px;
  color: #007cc2;
}
.how-to-get i {
  padding-right: 5px;
  color: #007cc2;
}

/* ------------------------------------- */
/* Clients ................... */
/* ------------------------------------- */
.clients {
  width: 100%;
  padding: 10% 8%;
}
.clients .client {
  text-align: center;
  padding: 20px 0;
}

/* ------------------------------------- */
/* Contact Form ................... */
/* ------------------------------------- */
#contact {
  width: 100%;
  padding: 10% calc(8% + 5px);
  background: #f5f5f5;
  color: #000;
}
#contact h2 {
  font-weight: 400;
}
#contact p {
  color: #666666;
  margin-bottom: 0;
}
#contact_form {
  margin-top: 30px !important;
  width: 100%;
  font-size: 14px;
}
#contact_form div {
  display: table;
  padding: 0 5px;
}
#contact_form .input-name, #contact_form .input-email, #contact_form .input-message, #contact_form .submit {
  border: none;
  margin-bottom: 10px;
  padding: 10px;
  width: 100%;
  height: 45px;
  border-radius: 3px;
  color: #fff !important;
  -webkit-transition: 0.2s;
  -ms-transition: 0.2s;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  font-weight: 600;
  background: #1d2328;
  color: #fff;
}
#contact_form .input-name:focus, #contact_form .input-email:focus, #contact_form .input-message:focus, #contact_form .submit:focus {
  background: #121619;
}
#contact_form .input-message {
  height: 100px;
}
#contact_form .submit {
  position: relative;
  background: #007cc2;
  width: 100%;
  height: 40px;
  width: 100%;
}
#contact_form .submit:focus {
  background: #007cc2;
}
#contact_form .submit:hover {
  background: #028d6e;
}
#form-messages {
  padding: 0 5px;
  margin: 10px 0;
}
#form-messages .success, #form-messages .error {
  background: #16a085;
  padding: 1em;
  display: none;
  color: #fff;
  font-weight: 700;
  font-size: 12px;
}
#form-messages .error {
  background: #DF1D37;
}
address {
  margin-top: 25px;
}
address span {
  color: #666666;
  font-weight: 600;
  display: inline-block;
  font-size: 16px;
}
address span.organizer {
  margin: 20px 0;
  text-align: center;
}
#contact address span.organizer p {
  margin-bottom: 20px;
}
address.headlead {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
address.headlead img {
  border-radius: 50%;
}
address i {
  font-size: 1.5em;
  padding-right: 5px;
  color: #007cc2;
}
address a {
  color: #007cc2;
}
address a:hover {
  color: #028d6e;
}

/* ------------------------------------- */
/* Footer ................... */
/* ------------------------------------- */
footer {
  position: relative;
  bottom: 0;
  display: table;
  width: 100%;
  padding: 5%;
  background: #121619;
  color: #fff;
}
footer p {
  display: table-cell;
  vertical-align: middle;
  font-size: 0.75em;
  font-weight: 500 !important;
}
footer .drag {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  font-size: 1.2em;
  cursor: pointer;
  -webkit-transition: 0.2s;
  -ms-transition: 0.2s;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}
footer .drag:hover {
  -webkit-transform: translateY(-10px);
  -ms-transform: translateY(-10px);
  -moz-transform: translateY(-10px);
  -o-transform: translateY(-10px);
  transform: translateY(-10px);
}

/* ------------------------------------- */
/* Dry styles ................... */
/* ------------------------------------- */
.button-light {
  display: inline-block;
  background: transparent;
  color: #fff;
  -webkit-transition: 0.2s;
  -ms-transition: 0.2s;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  border: 2px solid #fff;
  border-radius: 3px;
  font-weight: 500;
  font-size: 1em;
  text-align: center;
  padding: 0.625em 1.5625em;
}
.button-light:hover:hover {
  color: #007cc2;
  background: #fff;
  border-color: #fff;
}
.button-solid {
  display: inline-block;
  -webkit-transition: 0.2s;
  -ms-transition: 0.2s;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  border: 2px solid transparent;
  padding: 0.625em 1.5625em;
  background: #007cc2;
  border-radius: 3px;
}
.button-solid:focus {
  background: #007cc2;
}
.button-solid:hover {
  background: #028d6e;
}
input:focus {
  outline: none !important;
}
textarea:focus {
  outline: none !important;
}
button:focus {
  outline: none !important;
}
.filled {
  background: #fff;
  color: #007cc2;
  font-weight: 700;
  display: inline-block;
  padding: 5px 10px;
}
.uppercase {
  text-transform: uppercase;
}
li {
  list-style: none;
}
ul {
  padding: 0;
}

/* ------------------------------------- */
/* Bootstrap styles ................... */
/* ------------------------------------- */
.full-height {
  height: 100vh !important;
}
.mid-height {
  height: 400px;
}
p {
  font-size: 15px;
  font-weight: 400;
  margin-bottom: 20px;
}
p a {
  color: #007cc2;
  text-decoration: none;
}
p a:hover {
  color: #028d6e;
}
.row {
  padding: 0;
  margin: 0;
}
a {
  color: #fff;
  text-decoration: none;
}
a:hover {
  color: #fff;
  text-decoration: none;
}
a:visited {
  outline: none !important;
  text-decoration: none;
}
a:focus {
  color: #fff;
  outline: none !important;
  text-decoration: none;
}
::-moz-selection {
  color: #fff;
  background: #007cc2 !important;
}
::selection {
  color: #fff;
  background: #007cc2 !important;
}
img {
  max-width: 100%;
  vertical-align: middle;
}

/* ------------------------------------- */
/* Menu ................. */
/* ------------------------------------- */
.menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 320px;
  height: 100vh;
  background-color: #007cc2;
  z-index: 5;
  transition: 0.5s;
  transform: translateX(-100%);
}
.menu_active {
  transform: translateX(0%);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}
.menu-list {
  padding: 60px 0;
  overflow: auto;
  overflow-x: hidden;
}
.menu-list::-webkit-scrollbar {
  width: 0;
  background: transparent;
}
.menu-list a {
  display: block;
}
.menu-btn {
  position: absolute;
  right: -50px;
  top: 0;
  width: 50px;
  height: 50px;
  background-color: #016f54;
  padding: 0;
  border: 0;
}
.menu-btn span,
.menu-btn span::before,
.menu-btn span::after {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -1px;
  margin-left: -10px;
  width: 20px;
  height: 2px;
  background-color: #fff;
}
.menu-btn span::before,
.menu-btn span::after {
  content: '';
  display: block;
  transition: 0.5s;
}
.menu-btn span::before {
  transform: translateY(-5px);
}
.menu-btn span::after {
  transform: translateY(5px);
}
.menu_active .menu-btn span {
  height: 0;
}
.menu_active .menu-btn span::before {
  transform: rotate(45deg);
}
.menu_active .menu-btn span::after {
  transform: rotate(-45deg);
}
.menu-list li {
  padding: 5px 10px;
  border-left: 0;
  border-right: 0;
  border-bottom: 0;
  transition: 0.3s;
}

.menu-list li:hover {
  padding-left: 18px;
  transform: scale(1.03);
  background-color: #028d6e;
}

/* ------------------------------------- */
/* Plugin styles ................... */
/* ------------------------------------- */
/* Item Popup */
.item_info {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
  text-align: initial;
  color: #333;
  background: #fff;
  overflow: auto;
  -webkit-transform: translateX(100%);
  -ms-transform: translateX(100%);
  -moz-transform: translateX(100%);
  -o-transform: translateX(100%);
  transform: translateX(100%);
  -webkit-transition: 0.3s;
  -ms-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.item_info li {
  display: none;
  height: 100%;
  width: 100%;
}
.item_info li.is-visible {
  display: block;
}
.item_info li.is-visible .close {
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  -moz-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
  opacity: 1;
}
.item_info .item_content {
  padding: 10%;
}
.items.show {
  -webkit-transition: 0.3s;
  -ms-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.items.show .item_info {
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  -moz-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
}
.items .close {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 3;
  text-align: center;
  height: 50px;
  width: 50px;
  overflow: hidden;
  background: #121619;
  -webkit-transform: translateX(100px);
  -ms-transform: translateX(100px);
  -moz-transform: translateX(100px);
  -o-transform: translateX(100px);
  transform: translateX(100px);
  -webkit-transition: 0.3s;
  -ms-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  text-align: center;
  opacity: 0;
  transition-delay: .1s;
}
.items .close i {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 1.2em;
  text-align: center;
  color: #fff !important;
}

/* Particles */
#particles-js {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  left: 0;
  z-index: -1;
}

/* magnificPopup */
.mfp-zoom-out-cur, .mfp-zoom-out-cur .mfp-image-holder .mfp-close {
  cursor: url("../img/icon-zoom-out.png"), pointer;
}
.mfp-title {
  font-size: .75em;
  text-transform: uppercase;
  font-weight: 500;
}

/* photoSwipe */
.pswp__ui--fit .pswp__top-bar,
.pswp__ui--fit .pswp__caption {
  background: #121619;
}
.pswp__item {
  cursor: url("../img/icon-zoom-out.png"), pointer;
}
.pswp--zoom-allowed .pswp__img {
  cursor: url("../img/icon-zoom.png"), pointer;
}
.pswp__button--arrow--left:before, .pswp__button--arrow--right:before {
  content: '';
  top: 35px;
  background-color: #121619;
  height: 30px;
  width: 32px;
  position: absolute;
}

/* ------------------------------------- */
/* Media Queries .................... */
/* ------------------------------------- */
@media only screen and (max-width: 1024px) {
  #leftSide {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
  }
  #rightSide {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .item_info {
    left: 0;
    width: 100%;
  }
}
@media only screen and (max-width: 460px) {
  .service .feature .view, .pricing .price .view {
    opacity: 1;
  }
  .service .feature:hover {
    -webkit-transform: none;
    -ms-transform: none;
    -moz-transform: none;
    -o-transform: none;
    transform: none;
    background: #f5f5f5;
  }
  .price:hover {
    -webkit-transform: none;
    -ms-transform: none;
    -moz-transform: none;
    -o-transform: none;
    transform: none;
  }
  .menu {
    width: 100%;
  }
  .menu-btn {
    transition: 0.3s;
  }
  .menu_active .menu-btn {
    right: 0;
  }
  .about.dark ul li {
    flex-direction: column;
    text-align: center;
  }
  .service .feature h6 {
    margin: 0 5px 15px;
  }
  .price p {
    margin-bottom: 15px;
  }
}